.intro {
    max-width: 928px;
    margin: 92px auto 0px;
    display: grid;
    grid-template-columns: minmax(288px, 690px);
}

@media screen and (max-width: 1023px) {
    .intro {        
        margin-left: 24px;
        }
    }

@media screen and (max-width: 767px) {
.intro {        
    margin: 64px 16px 0px;
    }
}